page-address-modal {
	.address{
		background: #1697a9;
		border-bottom: 1px solid #fff;
		padding: 20px 40px;
		margin: 0 20px;
		color: #fff;
		text-align: center;
		p{
			margin: 10px 0;
			span{
				font-size: 17px;
			}
		}
	}
}
